@using LMS.Models.ViewModels
@using LMS.Utility
@using LMS.Extentions
@model SupportViewModel
@{
    ViewData["Title"] = "SupportRequestListClosed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br />

<div class="border backgroundWhite">

    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Closed Class Support Requests</h2>
        </div>
        <div class="col-3 text-right">
            <a class="btn btn-success text-white" asp-controller="Support" asp-action="SupportRequestList" asp-route-Id="@Model.ClassId">
                <i class="fas fa-envelope-open"></i> &nbsp; View Open Requests
            </a>

        </div>
    </div>

    <br />
    <div>
        @if (Model.SupportRequestList.Count() > 0)
        {
            <table class="table table-striped border">

                <tr class="table-secondary">
                    <th style="width:60%">
                        @Html.DisplayNameFor(m => m.SupportRequest.RequestHeading)
                    </th>
                    <th style="width:21%; text-align:center">
                        @Html.DisplayNameFor(m => m.SupportRequest.Closed)
                    </th>
                    <th style="width:4%;text-align:center">
                        @Html.DisplayNameFor(m => m.SupportRequest.Status)
                    </th>
                    <th style="width:4%;text-align:center">
                        @Html.DisplayNameFor(m => m.SupportRequest.ResponseIds)
                    </th>

                    <th style="width:15%; text-align:center">View</th>

                </tr>
                @foreach (var item in Model.SupportRequestList)
                {
                   
            <tr>
                <td>
                    @DisplayLimit.StringLength(item.RequestHeading, 55)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(m => item.Closed)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(m => item.Status)
                </td>
               

                    @if (item.ResponseIds != "" && item.ResponseIds != null)
                    {
                    <td style="text-align:center">
                        <p style="color:teal; font-weight:bold">
                            @OrderList.ItemIdOrder(item.ResponseIds).Count()
                        </p>

                    </td>
                    <td style="text-align:center">                 
                            <a asp-action="ViewRequest" asp-controller="Support" asp-route-id="@item.Id" class="btn btn-warning text-white"><i class="fas fa-envelope"></i> View</a>                       
                    </td>
                    }
                    else
                    {
                    <td style="text-align:center">
                        <p style="color: #ff6a00; font-weight:bold">None</p>
                    </td>
                    <td style="text-align:center">
             
                            <a asp-action="ViewRequest" asp-controller="Support" asp-route-id="@item.Id" class="btn btn-warning text-white"><i class="far fa-envelope"></i> Open</a>
                     
                    </td>
                    }

                </tr>
                    } 

            </table>
        }
        else
        {
            <h3>No Support Requests Exists for this Class</h3>
        }
    </div>

</div>



