@using LMS.Extentions
@using LMS.Utility
@model LMS.Models.ClassEnrolment
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<br />
<h2 class="text-info">Delete Enrolment</h2>
<br />

<form method="post" asp-action="Delete">

    <div class="border backgroundRed">
        <H4 style="color:orangered">Are you Sure? This action cannot be undone!</H4>
        <br /><p style="font-weight:bold">The following user will be unenrolled from the class and lose all related study data!</p>

        <div class="form-group row">
            <div class="col-2">
                User:
            </div>
            <div class="col-5">
                @Model.UserName @Model.UserSurname

            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                Identity:
            </div>
            <div class="col-5">
                @Model.Identity
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                Role:
            </div>
            <div class="col-5">
                @Model.UserRole
            </div>
        </div>
        @if (Model.UserRole == SD.Learner)
        {
            <div class="form-group row">
                <div class="col-2">
                    Study Progress
                </div>
                <div class="col-5">
                    The following study progress will be deleted:
                </div>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-2">
                    Topics Completed:  @if (Model.CompletedTopics != "" && Model.CompletedTopics != null)
                    {
                        <p style="color:orangered; font-weight:bold">
                            @OrderList.ItemIdOrder(Model.CompletedTopics).Count()
                        </p> }
                    else
                    {<p style="color: teal; font-weight:bold">None</p>}
                </div>
                <div class="col-5 offset-2">
                    Units Completed:  @if (Model.CompletedUnits != "" && Model.CompletedUnits != null)
                    {
                        <p style="color:orangered; font-weight:bold">
                            @OrderList.ItemIdOrder(Model.CompletedUnits).Count()
                        </p> }
                    else
                    {<p style="color: teal; font-weight:bold">None</p>}
                </div>
                <div class="col-5 offset-2">
                    Formatives Completed:  @if (Model.CompletedFas != "" && Model.CompletedFas != null)
                    {
                        <p style="color:orangered; font-weight:bold">
                            @OrderList.ItemIdOrder(Model.CompletedFas).Count()
                        </p> }
                    else
                    {<p style="color: teal; font-weight:bold">None</p>}
                </div>
                <div class="col-5 offset-2">
                    Summatives Completed:  @if (Model.CompeletedSas != "" && Model.CompeletedSas != null)
                    {
                        <p style="color:orangered; font-weight:bold">
                            @OrderList.ItemIdOrder(Model.CompeletedSas).Count()
                        </p> }
                    else
                    {<p style="color: teal; font-weight:bold">None</p>}
                </div>
            </div>

            <p>Press Delete to unenrol the user and remove all their study progress from the class!</p>
        }
    <br />
 
    <div class="form-group row">
        <div class="col-5 offset-2">
            <partial name="_DeleteEnrolAndBackToListButtonPartial" model="@Model" />
        </div>
    </div>

    </div>

</form>


